server {
    listen 80 default_server;
    server_name j-hajime.com;

    location / {
        proxy_pass http://storefront:8000/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}

server {
    listen 80;
    server_name storefront-reactjs;

    root /usr/share/nginx/html;
    index index.html index.htm;

    location / {
        try_files $uri /index.html;
    }
}
